{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="test">
    <section class="container">
        <h1>Register as Musician</h1>

        {{ form_start(registrationFormMusician) }}
        {{ form_row(registrationFormMusician.firstName) }}
        {{ form_row(registrationFormMusician.lastName) }}
        {{ form_row(registrationFormMusician.image) }}
        {{ form_row(registrationFormMusician.instruments) }}
        {{ form_row(registrationFormMusician.email) }}
        {{ form_row(registrationFormMusician.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationFormMusician.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationFormMusician) }}

        <h1>Register as Manager</h1>

        {{ form_start(registrationFormManager) }}
        {{ form_row(registrationFormManager.email) }}
        {{ form_row(registrationFormManager.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationFormManager.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationFormManager) }}

    </section>
    </div>
{% endblock %}
