{% extends 'base.html.twig' %}

{% block title %}
    {{ gig.pub.name }} {{ gig.dateStart|date('Y-m-d') }}
{% endblock %}


{% block body %}
    <section class="container">
        <h1>{{ gig.pub.name }}</h1>
        <img src="{{ asset('uploads/' ~ gig.pub.image) }}" alt="{{gig.pub.name}}">
        <h3>Where and When :</h3>
            <p>{{ gig.pub.address ~ ' at ' ~ gig.pub.city ~ ' ' ~ gig.pub.zipCode }}</p>
            <time datetime="{{ gig.dateStart|date('Y-m-d h:i') }}">
            {{ gig.dateStart|date('l jS \\o\\f F  \\a\\t g:i a')}}
            </time>

        <h2>Partipants :</h2>
        {% for participant in gig.participants %}
            <ul>
                <li>
                    {{ participant.instrument.name }} :
                    {% if participant.musician %}
                        {# un lien pour pouvoir aller depuis la âge détail gig sur la page détail musician #}
                        <a href="{{ path('musician_detail', {'id': participant.musician.id}) }}">{{ participant.musician.fullName }}</a>
                    {% else%}
                        Aucun participant
                    {% endif %}
                </li>
            </ul>
        {% endfor %}

    </section>
{% endblock %}