{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
       <h2>Next Gig in Town</h2> 
        <div class="grid">
            {% for gig in gigs %}
                {% if gig.dateStart > date('') %}
                <article class="card">
                    <img src="{{ asset('uploads/' ~ gig.pub.image) }}" alt="{{ gig.pub.name }}">
                    <h3>{{ gig.pub.name}}</h3>
                    <time datetime="{{ gig.dateStart|date('Y-m-d h:i') }}">
                        {{ gig.dateStart|date('l jS \\o\\f F  \\a\\t g:i a')}}
                    </time>
                    <a href="#" class="btn btn-primary">See more</a>
                </article>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    
    <section class="container">
    <h2>Available musicians</h2>
    <div class="grid">

        {% for musician in musicians %}
            {% include 'musician/_card.html.twig' with {'musician' : musician} only %}
        {% endfor %}

    </div>
    </section>
{% endblock %}


