{% extends 'base.html.twig' %}

{% block title %}
    {{ musician.fullName }}
{% endblock %}


{% block body %}
    <section class="container">
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 3rem">
            {% include 'musician/_card.html.twig' with {'musician' : musician} only %}
            {% if app.user %}
                {% if musician.id == app.user.id %}
                    <a href="{{ path('musician_edit', {'id': musician.id}) }}">Edit Profile</a>
                {% endif %}
            {% endif %}

        </div>



        <h3>Futur Gig :</h3>
        {# Liens vers les futurs concerts auxquelles le musiciens va participer #}
        {% for participant in musician.participants %}
            <ul>
                <li>
                    <a href="{{ path('gig_detail', { 'id' : participant.gig.id }) }}">{{ participant.gig.pub.name }} {{ participant.gig.dateStart|date('Y F l g:i a') }}</a>
                </li>
            </ul>
        {% endfor %}


    </section>
{% endblock %}



