{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Edit-Profile' }}
{% endblock %}

{% block body %}}
    <section class="container">
        <h1>Edit Your Profile</h1>

        {{ form_start(modifyProfileMusicianType) }}
        {{ form_row(modifyProfileMusicianType.firstName) }}
        {{ form_row(modifyProfileMusicianType.lastName) }}
        {{ form_row(modifyProfileMusicianType.email) }}
        {#  {{ form_row(modifyProfileMusicianType.imageFile) }}#}
        {{ form_row(modifyProfileMusicianType.instruments) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(modifyProfileMusicianType) }}

    </section>
{% endblock %}